{
  "plugins": [
    "dffgd",
    "@babel/plugin-syntax-decorators",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}